/* .synopsis {
    color: #7E8184;
    font-style: italic;
}

.synopsis em {
    font-style: normal;
} */


p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

#button-2 {
    color: #363937;
}

.button:link,
.button:visited {
    display: block;
    text-decoration: none;

    color: rgb(11, 10, 10);
    background-color: #94def3;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #02041c;
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.button:hover,
.button:visited:hover {
    color: #FFF;
    background-color: #76AEED;
    width: 250px;
    }

.button:active,
.button:visited:active {
    color: #FFF;
    background-color: #5995DA;
}

#button-2 {
    background-color: #D55C5F;
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: #F5CF8E;
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;
}

p:first-of-type {
    margin-bottom: 50px;
}



.page {
    width: 600px;
    margin: 0 auto;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:active {
    color: red;
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}
